@import "tailwindcss";

@theme {
  --color-primary: #d7dfe5;
}

@layer base {
  html {
    min-height: 100%;
  }

  body {
    min-height: 100%;
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url("/images/bg-main.png");
  }
}

/* Custom Toastify styles */
.Toastify__toast {
  @apply text-sm p-2;
}

/* Even smaller on mobile */
@media (max-width: 480px) {
  .Toastify__toast {
    @apply text-xs p-1;
  }
}
