@import "tailwindcss";

@theme {
  --color-primary: #d7dfe5;
}

@layer base {
  html {
    min-height: 100%;
  }

  body {
    min-height: 100%;
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url("/images/bg-main.png");
  }
}

@layer components {
}
