# Node modules
/client/node_modules/
/server/node_modules/

# Build folders
/client/build/
/server/dist/

# Environment files
/client/.env
/server/.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db
